In [2]:
import pandas as pd

In [4]:
codici=pd.read_csv("File dati_Ortona (1200)_CODICI.csv",sep=';')

In [5]:
codici

,ID,Q002,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,...,Q016,Q017,Q019,Q020,Q021,Q022,Q023,Q024,Q025,peso
0,1,2,4,4,5,2,5,5,5,1,...,5.0,4.0,2.0,1.0,1.0,NaN,3.0,3.0,2.0,"0,2"
1,2,1,3,3,4,1,5,13,3,1,...,5.0,3.0,5.0,1.0,1.0,NaN,2.0,3.0,2.0,"2,65"
2,3,1,6,1,5,1,5,1,2,1,...,3.0,3.0,2.0,1.0,1.0,NaN,1.0,4.0,1.0,"0,7"
3,4,1,6,4,2,1,5,17,6,1,...,7.0,3.0,2.0,2.0,7.0,1.0,2.0,4.0,2.0,"1,4"
4,5,2,3,2,3,2,6,10,7,1,...,5.0,2.0,4.0,1.0,2.0,1.0,3.0,2.0,2.0,"0,65"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1299,1300,1,1,1,6,1,4,14,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,67"
1300,1301,1,2,4,1,1,9,13,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,68"
1301,1302,2,2,1,5,2,6,10,6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,16"
1302,1303,2,1,4,2,1,4,16,6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,33"
1303,1304,2,1,2,4,1,4,11,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,42"